@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
<script type="text/javascript" src="~/js/Index.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Our team</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li>Teona</li>
        <li>Dragos</li>
        <li>Leon</li>
        <li>Claudia</li>
        <li>George</li>
        <li>Radu</li>
    </ul>
    <input type="text" id="nameField" title="Name">
    <button id="createButton" title="Button">Create</button>
</div>
